%h1= @event.title
%p= @event.description
%p Location: #{@event.location}
%p Date&Time: #{@event.time.strftime("%B %d, %Y at %I:%M %p")}
- if !@user.name.nil?
    %p Hosted by: #{@user.name}
%p Email: #{@user.email}
- if !@user.attending.include? @event
    =link_to "Attend Event", attending_event_path(@event, type: "attending"), method: :put, class: 'btn btn-primary'
- else 
    =link_to "Not Attending Event", attending_event_path(@event, type: "not-attending"), method: :put, data: {confirm: "Are you sure you do not want to attend this event?"}, class: 'btn btn-danger'